li {
    list-style-type: none;
}

.review-list {
    font-size: 1.5em;
}

.review-sub-text{
    text-align: center;
}

.review-sub-text-comments{
    padding-left: 1em;
    font-size: 1.5em;
    text-align: center;
}