.App {
  text-align: center;

  
}

@import url(https://fonts.googleapis.com/css?family=Dosis:700);

@font-face {
  font-family: 'Dosis';
  src:  url('https://fonts.googleapis.com/css?family=Dosis:700') format('woff2'),
        
}

body {
  font-family: "Dosis", Helvetica, Arial, sans-serif; 
  background: #F0F2A6;
  color: #1b344d;
  padding-top: 40px;
  text-shadow: white 1px 1px 1px;
}

.value {
  text-align: center;
  font-weight: bold;
  font-size: 5em;
  width: 300px; 
  height: 100px;
  line-height: 60px;
  margin: 40px auto;
  letter-spacing: -.07em;
  text-shadow: white 2px 2px 2px;
}
input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  width: 300px;
  height: 5px;
  border-radius: 5px;
  margin: 0 auto;
  outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #822E81;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: .3s ease-in-out;
}​
  input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #e74c3c;
  }
  input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
  }


.display {
    border: 3px solid #1A1B25;
    border-radius: 25px;
    box-shadow: 3px 3px 3px 3px #AA6373 ;
    padding: 1em;
    margin: auto;
    margin-top: 4em;
    width: 80%;
    display: flexbox;
    align-items: center;
  
}

.prompt{
    font-size: 3em;
    font-family: 'Dosis';
}

.text-field {
  width: 18em;
  padding-bottom: 2em;
  font-family: 'Dosis';
}

.button-div{
  padding-bottom: 2em;
  margin-top: 5em;
  
}
.s-button-div{
  padding-bottom: 2em;
  
}

.button:hover{
  border: 3px solid #1A1B25;
  border-radius: 25px;
  box-shadow: 3px 3px 3px 3px #AA6373 ;
  background-color: #f6f99e;
  padding: 0.5em;
  font-family: "Dosis", Helvetica, Arial, sans-serif; 
  width: 300px;
  font-size: 2em;
  color: #1b344d;
}

.button {
  border: 3px solid #1A1B25;
  border-radius: 25px;
  box-shadow: 3px 3px 3px 3px #AA6373 ;
  background-color: #F0F2A6;
  color: #1b344d;
  padding: 0.5em;
  font-family: "Dosis", Helvetica, Arial, sans-serif; 
  font-size: 2em;
  width: 300px;
}

.button:active {
  border: 3px solid #1A1B25;
  border-radius: 25px;
  box-shadow: 3px 3px 3px 3px #AA6373 ;
  background-color: #F0F2A6;
  color: #1b344d;
  padding: 0.5em;
  font-family: "Dosis", Helvetica, Arial, sans-serif; 
  font-size: 2em;
  width: 300px;
  transform: translateY(4px);
}

table {
  width: 100%
}